.App {
  text-align: center;
}

header {
  background-color: whitesmoke;
  padding: 12px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  background-color: palegreen;
  padding: 1px;
}

.logo img {
  width: 350px;
  margin: 12px;
}

header h1 {
  margin: 12px;
}

main {
  padding: 12px;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row;
  justify-content: space-between;
  margin: 12px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 12px;
  width: 30%;
  background-color: whitesmoke;
  transition: transform 0.8s;
}

.card.flipped {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.front {
  z-index: 2;
}

@media (max-width: 2300px) {
  .card {
    width: 45%;
  }
}

@media (max-width: 1400px) {
  .card {
    width: 90%;
  }
}

.carousel-container {
  width: 55%;
  margin: 12px;
}

@media (max-width: 700px) {
  .carousel-container {
    width: 90%;
  }
}

.card-content {
  padding: 12px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 700px) {
  .card-content {
    width: 90%;
  }
}

.card-content > div:nth-child() {
  flex-grow: 1;
}

.card-lone-content {
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-lone-content > div:nth-child() {
  flex-grow: 1;
}

.card-button {
  width: 150px;
  margin: 6px auto;
  padding: 12px;
  border-radius: 12px;
  background-color: #48CFC8;
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.card-button:hover {
  background-color: #3BB8AC;
  color: whitesmoke;
}

footer {
  background-color: whitesmoke;
  padding: 12px;
}
