.App {
  text-align: center;
}

header {
  background-color: whitesmoke;
  padding: 12px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  width: 350px;
  margin: 12px;
}

header h1 {
  margin: 12px;
}

main {
  padding: 12px;
}

.card {
  display: flex;
  margin: 12px;
  border: 1px solid grey;
  border-radius: 12px;
  padding: 12px;
  width: 45%;
  background-color: whitesmoke;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1100px) {
  .card {
    width: 90%; /* Reduce the width to 90% when screen width is below 600px */
  }
}

.carousel-container {
  width: 50%;
  margin: 12px;
}

.card-content {
  padding: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content > div:nth-child() {
  flex-grow: 1;
}

.card-button {
  width: 150px;
  margin: 6px auto;
  padding: 12px;
  border-radius: 12px;
  background-color: #48CFC8;
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: 600;
  transition: background-color 0.3s, color 0.3s;
}

.card-button:hover {
  background-color: #3BB8AC;
  color: whitesmoke;
}

footer {
  background-color: whitesmoke;
  padding: 12px;
}
